<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicalGrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>616ED2C81F54C9A200E8E10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>616ED2DC1F54C9A200E8E10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>616ED2E71F54C9A200E8E10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
